:root {
    --background-light: #f5f5f5;
    --background-dark: #121214;
    --background-container-light: #ffffff;
    --background-container-dark: #202024;
    --text-white: #f5f5f5;
    --text-black: #0e0e10;
    --text-green: #008040;
    --text-green-2: #10b462;
    --text-gray: #414141;
    --red: #ff5f56;
    --red-2: #f25f5c;
    --yellow: #ffbd2e;
    --yellow-2: #ffe066;
    --green: #27c93f;
    --blue: #247ba0;
    --box-shadow-color-dark: rgba(0, 0, 0, 0.12);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-black);
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

button {
    cursor: pointer;
}