.wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.content {
    width: 100%;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 600px));
    gap: 2rem;
}

.options,
.generator {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    border-radius: 0.313rem;
    padding: 1rem;
    box-shadow: 0 0.313rem 0.625rem var(--box-shadow-color-dark);
    background-color: var(--background-container-light);
    border: 1px solid transparent;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        strong {
            font-size: 0.875rem;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
                display: inline-block;
            }
            .red {
                background-color: var(--red);
            }
            .yellow {
                margin-left: 0.375rem;
                background-color: var(--yellow);
            }
            .green {
                margin-left: 0.375rem;
                background-color: var(--green);
            }
        }
    }
    .middleContent {
        width: 100%;
        div {
            margin-bottom: 0.5rem;
        }
        div span {
            font-size: 0.875rem;
            margin-right: 1rem;
        }
        div input {
            margin-right: 0.5rem;
        }
        .passwordLength {
            input {
                width: 11.063rem;
            }
        }
    }
}

.dark {
    background: var(--background-container-dark);
    color: var(--text-white);
}

.generator {
    button {
        color: var(--text-gray);
        border: none;
        font-size: 0.875rem;
        font-weight: bold;
        border-radius: 0.5rem;
        transition: filter 0.2s;
    }
    .displayResult {
        width: 100%;
        label {
            font-size: 0.875rem;
            margin-right: 1rem;
        }
        input {
            width: 15rem;
            height: 1.875rem;
            font-size: 0.875rem;
            font-weight: bold;
            color: var(--text-green);
            padding: 0 0 0 0.313rem;
        }
        button {
            margin-left: 1rem;
            padding: 0.5rem 1rem;
        }
        button:hover {
            filter: brightness(0.9);
        }
        .copySuccess {
            font-size: 1rem;
            color: var(--text-green-2);
            font-weight: bold;
            margin-left: 0.5rem;
        }
    }
    .generatorButton {
        button {
            padding: 0.7rem 1rem;
            margin-top: 2rem;
            width: 12.5rem;
        }
        button:hover {
            filter: brightness(0.9);
        }
    }
    .passwordStrengthDisplay {
        margin-top: 1rem;
        label,
        strong {
            font-size: 0.875rem;
        }
        strong {
            margin-left: 1rem;
        }
    }
}

// Media query

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .content {
        grid-template-columns: repeat(1, minmax(250px, 100%));
    }
    .generator {
        .displayResult {
            input {
                width: 9.375rem;
            }
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .content {
        grid-template-columns: repeat(1, minmax(300px, 100%));
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .content {
        grid-template-columns: repeat(2, minmax(350px, 100%));
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .content {
        grid-template-columns: repeat(2, minmax(400px, 100%));
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1300px;
        margin: 0 auto;
    }
}